! Cursor theme
xcursor.theme:            Vanilla-DMZ

! URxvt config
URxvt*termName:           rxvt-16color

URxvt.scrollBar:          off
URxvt.font:               xft:Ubuntu Mono:size=15
URxvt.internalBorder:     0
URxvt*selectToClipboard:  true
URxvt*saveLines:          10000
URxvt.letterspace: 	  -1
URxvt*inheritPixmap:	  true
URxvt.shading:		  25 
URxvt.tintColor:	  white
URxvt.secondaryScroll:	  true

URxvt.perl-ext-common:    default,matcher,tabbedex,searchable-scrollback
URxvt.urlLauncher:        /usr/bin/qutebrowser
URxvt.matcher.button:     1
URxvt.tabbed.tabbar-fg:   8
URxvt.tabbed.tabbar-bg:   0
URxvt.tabbed.tab-fg:      2
URxvt.tabbed.tab-bg:      0
URxvt.tabbed.new-button:  no
URxvt.tabbed.title:       no

! Tango color palette
URxvt*background:         #2e3436
URxvt*foreground:         #eeeeec
URxvt*cursorColor:        #eeeeec
! foreground color for underline
URxvt*colorUL:            #eeeeec
! line color for underline
URxvt*underlineColor:     #dbdbd6
!! black dark/light
*color0: #282828
*color8: #928374

!! red dark/light
*color1: #cc241d
*color9: #fb4934

!! green dark/light
*color2: #98971a
*color10: #b8bb26

!! yellow dark/light
*color3: #d79921
*color11: #fabd2f

!! blue dark/light
*color4: #458588
*color12: #83a598

!! magenta dark/light
*color5: #b16286
*color13: #d3869b

!! cyan dark/light
*color6: #689d6a
*color14: #8ec07c

!! white dark/light
*color7: #a89984
*color15: #ebdbb2

! xscreensaver
xscreensaver.fade:        false
xscreensaver.unfade:      false
